<h2 class="text-center m-5">Client List</h2>
 
   <table class="table table-striped table-bordered">
       <thead>
           <tr>
               <th>Name</th>
               <th>Location</th>
               <th>Technology</th>
               <th>Action</th>
           </tr>
       </thead>
 
       <tbody>
           <tr *ngFor="let client of client$ | async">
               <td>{{client.name}}</td>
               <td>{{client.location}}</td>
               <td>{{client.technology}}</td>
               <td>
                   <button class="btn btn-primary me-1" [routerLink]="['edit/', client._id]">Edit</button>
                   <button class="btn btn-danger" (click)="deleteclient(client._id || '')">Delete</button>
               </td>
           </tr>
       </tbody>
   </table>
 
   <button class="btn btn-primary mt-3" [routerLink]="['new']">Add a New client</button>